:root {
    --soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--Dark-grayish-blue);
    background: var(--Off-white);
    overflow-x: hidden;
}

/*Typography*/
h1, h4 {
    color: var(--Very-dark-blue);
    
}


h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 800;
}

h2 {
    font-size: 1.8rem;
    text-transform: capitalize;
    color: var(--soft-orange);
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
    color: var(--Off-white);
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: var(--Very-dark-blue);
    
}

/*Layout*/

.container {
    width: 90%;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--Off-white);
    transform: translateX(100vw);
    width: 70%;
    height: 100vw;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2em;
    padding-top: 10rem;
    gap: 2.5em;
    align-items: flex-start;
    a {
        font-size: 1.1rem;
    }
}
.close-btn {
    position: absolute;
    top: 2em;
    right: 2em;
}

.header {
    padding-block: 1.5em;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4em;
}

.hero-img {
    background: url(../images/image-web-3-mobile.jpg) purple;
    height: 19rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-img-and-text {
    display: grid;
    gap: 1.5em;
}

.hero-text-container {
    display: grid;
    gap: 1.5em;
    a {
        background: var(--Soft-red);
        color: var(--Off-white);
        width: fit-content;
        padding: .8em 3.2em;
        font-weight: 400;
        display: block;
        margin-top: 2em;
    }
}

.side-bar {
    background: var(--Very-dark-blue);
    padding: 1.5em 1em;
}

.side-bar-item {
    border-bottom: 1px solid var(--Dark-grayish-blue);
    padding-block: 1.5em;
    h3 {
        margin-bottom: .5em;
    }
}

.side-bar-item.no-border {
    border-bottom: none;
    padding-bottom: 1em;
}

.pc-and-gaming-news {
    display: grid;
    gap: 2.3em;
}

.pc-and-gaming-news-item {
    display: flex;
    gap: 1.5em;
    img {
        width: 100px;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: .7em;
    }
}

.number {
    font-size: 2rem;
    font-weight: 800;
    color: var(--Grayish-blue);
}

footer {
    margin-top: 4em;
    margin-bottom: 6em;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 600px) {
    main .container {
        row-gap: 4em;
    }
    .pc-and-gaming-news {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .hero-text-container {
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 900px) {

    .header {
        padding-block: 3em;
    }
    main .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2em;
        row-gap: 4em;
    }
    .container {
        width: 85%;
    }
    .pc-and-gaming-news {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column: span 2;
    }
    .hero-text-container {
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        font-size: clamp(2.3rem, 5vw,3.3rem);
    }
    .menu {
        display: none;
    }
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: clamp(2em, 3vw, 2.5em);
        position: static;
        background: initial;
        padding: initial;
        width: initial;
        transform: translateX(0);
        height: initial;
    }
    a {
        color: inherit;
    }
    .close-btn {
        display: none;
    }
}

@keyframes slidein {
    from {transform: translateX(100vw)}
    to {transform: translateX(0);}
}

@keyframes slideout {
    from {transform: translateX(0)}
    to {transform: translateX(100vw);}
}

.slide-in {
    animation: slidein .8s cubic-bezier(1, 1, 1, 1) forwards;
}

.slide-out {
    animation: slideout .8s cubic-bezier(1, 1, 1, 1) forwards;
}